<!DOCTYPE html>
<html lang="en">

<head>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <link rel="stylesheet" href="/css/style.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>

    <nav class="blue darken-4" role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" href="/" class="brand-logo" style="display: flex; align-items: center;">
                <img src="/imagenes/img/ico.jpg" alt="ICO logo" style="height: 58px; margin: 0 10px;">ICO
            </a>
            <ul class="right hide-on-med-and-down">
                <li style="display: flex; align-items: center;">
                    <img src="/imagenes/img/logo_fes.jpg" alt="Fes Aragon logo"
                        style="height: 58px; margin-right: 10px;">
                    <a href="https://www.aragon.unam.mx/fes-aragon/#!/inicio">FES Aragón UNAM</a>
                </li>
            </ul>
            <ul id="nav-mobile" class="sidenav">
                <li><a href="index.html">Inicio</a></li>
            </ul>
            <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        </div>
    </nav>

    <div class="container">
        <h1 class="header center text">Modalidades de Titulación</h1>
    </div>

    <div>

        <div class="container">
            <h3 class="center text">Requisitos previos para inscribir cualquier Modalidad</h3>
        </div>

        <div class="row">
            <div class="col s12 m4">
                <ul class="collection with-header">
                    <li class="collection-header">
                        <h4>Planes 80 y 82</h4>
                    </li>
                    <li class="collection-item">100% de los creditos necesarios</li>
                    <li class="collection-item">Carta de liberacion y termino del servicio social</li>

                </ul>
            </div>

            <div class="col s12 m4">
                <ul class="collection with-header">
                    <li class="collection-header">
                        <h4>Plan 1279</h4>
                    </li>
                    <li class="collection-item">100% de los creditos necesarios</li>
                    <li class="collection-item">Carta de liberacion y termino del servicio social</li>
                    <li class="collection-item">Certificado de idioma ingles (minimo C2) Cele UNAM (Fechas antes del
                        inicio del proceso de titulación)</li>
                </ul>
            </div>

            <div class="col s12 m4">
                <ul class="collection with-header">
                    <li class="collection-header">
                        <h4>Plan 2119</h4>
                    </li>
                    <li class="collection-item">100% de los creditos necesarios</li>
                    <li class="collection-item">Carta de liberacion y termino del servicio social</li>
                    <li class="collection-item">Certificado de idioma ingles (minimo C2)</li>
                    <li class="collection-item">480 Horas de Formacion Complementaria (Constancia expedida antes del
                        inicio del proceso de titulación)</li>
                </ul>
            </div>


        </div>
    </div>

    <div class="section no-pad-bot" id="index-banner">

        <div class="center-align">
            <ul class="collapsible">
                <li class="collection-header">
                    <h4>Trabajo escrito y replica oral</h4>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons orange-text">import_contacts</i>Tesis o
                        tesina y examen profesional</div>
                    <div class="collapsible-body"><span>Consiste en
                            realizar una tesis o tesina, ya sea de forma individual o grupal (máximo tres
                            integrantes), que será defendida oralmente ante un comité evaluador</span></div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons orange-text">class</i>Actividad de
                        investigación</div>
                    <div class="collapsible-body"><span>Implica la participación en un
                            proyecto de investigación aprobado por el Comité Académico de la carrera
                            durante al menos un semestre. La actividad debe ser respaldada por una
                            constancia formal, y la opción de titulación también incluye la defensa oral de
                            una tesis o tesina relacionada</span></div>
                </li>
            </ul>
        </div>

        <div class="center-align">
            <ul class="collapsible">
                <li class="collection-header">
                    <h4>Trabajo escrito sin replica oral</h4>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons orange-text">group</i>Actividad de apoyo a
                        la docencia</div>
                    <div class="collapsible-body"><span>Esta opción permite
                            titularse mediante un trabajo escrito sobre el material didáctico desarrollado
                            o una crítica de un programa académico.</span></div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons orange-text">work</i>Trabajo profesional
                    </div>
                    <div class="collapsible-body"><span>Para quienes hayan trabajado en un
                            área afín por al menos dos años. Consiste en presentar un informe escrito
                            que detalle la experiencia profesional.</span></div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons orange-text">local_library</i>Servicio
                        social</div>
                    <div class="collapsible-body"><span> Se elabora una tesina basada en el servicio
                            social realizado</span></div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons orange-text">assignment</i>Actividad de
                        investigación en su alternativa de artículo académico</div>
                    <div class="collapsible-body"><span>Similar a la opción de investigación, pero culmina en la
                            publicación de un artículo en lugar de una defensa oral.</span></div>
                </li>
            </ul>
        </div>

        <div class="center-align">
            <ul class="collapsible">
                <li class="collection-header">
                    <h4>Sin trabajo escrito</h4>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons orange-text">border_color</i>Examen general
                        de conocimientos externo</div>
                    <div class="collapsible-body"><span>Consiste en aprobar un
                            examen aplicado por una institución externa reconocida por la UNAM</span></div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons orange-text">check_circle</i>Totalidad de
                        créditos y alto nivel académico</div>
                    <div class="collapsible-body"><span>Para estudiantes con un
                            promedio mínimo de 9.5, que hayan completado los créditos en tiempo
                            curricular y sin reprobar materias</span></div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons orange-text">chrome_reader_mode</i>Estudios
                        en posgrado</div>
                    <div class="collapsible-body"><span>Consiste en ingresar y acreditar el primer semestre
                            de un programa de posgrado afín en la UNAM.</span></div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons orange-text">date_range</i>Semestre
                        adicional</div>
                    <div class="collapsible-body"><span>Requiere cursar asignaturas adicionales equivalentes
                            al 10 % de los créditos totales, con promedio mínimo de 9.0. Formato de solicitud:
                            https://www.aragon.unam.mx/fesaragon/public_html/documents/titulacion/computacion/formato-desolicitud.pdf</span>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons orange-text">school</i>Cursos o diplomados
                        de educación continua</div>
                    <div class="collapsible-body"><span>Consiste en completar
                            cursos o diplomados en la UNAM con una duración total de al menos 240
                            horas</span></div>
                </li>
            </ul>
        </div>
    </div>

    <footer class="page-footer blue darken-4">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">AVISO</h5>
                    <p class="grey-text text-lighten-4" style="margin-bottom: 20px; text-align: justify;">
                        Hecho por estudiantes de Universidad Nacional Autonoma de Mexico (UNAM) 2024. No se hace
                        esta pagina con fines de lucro,
                        solo llevar a la practica los conocimientos adquiridos durante la Carrera de Ingenieria en
                        Computacion y como entregable para proyecto final.
                        Si necesita mas detalles acerca de algo más, le pedimos que consulte la Pagina Oficial de la
                        Facultad de Estudios Superiores Aragon u otras redes sociales.
                        Pagina solo informativa
                    </p>
                </div>

                <div class="col l3 s12">
                    <h5 class="white-text">Redes Oficiales</h5>
                    <ul style="padding-left: 0; margin-left: 20px;">
                        <li style="margin-bottom: 10px;">
                            <a class="white-text hoverable" href="https://www.aragon.unam.mx/fes-aragon/#!/inicio">
                                <img src="/imagenes/img/home.png" alt="Pagina Oficial logo"
                                    style="vertical-align: middle; margin-right: 8px; width: 24px;">
                                Página Oficial
                            </a>
                        </li>
                        <li style="margin-bottom: 10px;">
                            <a class="white-text hoverable" href="https://www.facebook.com/FESAragonUNAM/">
                                <img src="/imagenes/img/fb.png" alt="Facebook logo"
                                    style="vertical-align: middle; margin-right: 8px; width: 24px;">
                                Facebook
                            </a>
                        </li>
                        <li style="margin-bottom: 10px;">
                            <a class="white-text hoverable" href="https://x.com/fesaragonunam?lang=es">
                                <img src="/imagenes/img/x.png" alt="X logo"
                                    style="vertical-align: middle; margin-right: 8px; width: 24px;">
                                X
                            </a>
                        </li>
                        <li style="margin-bottom: 10px;">
                            <a class="white-text hoverable" href="https://www.instagram.com/fesaragonunam/?hl=es">
                                <img src="/imagenes/img/ig.png" alt="Instagram logo"
                                    style="vertical-align: middle; margin-right: 8px; width: 24px;">
                                Instagram
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('.parallax');
            var instances = M.Parallax.init(elems);

            // Inicializar collapsible
            var elemCollapsible = document.querySelectorAll('.collapsible');
            var instancesCollapsible = M.Collapsible.init(elemCollapsible);
        });
    </script>
    

</body>

</html>